<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>

    <link rel="stylesheet" href="/src/css/about-me.css" />
    <link rel="stylesheet" href="/src/css/reset.css" />
    <link rel="stylesheet" href="/src/css/styles.css" />
    <link rel="stylesheet" href="/src/css/base.css" />

    <script type="module" src="/src/js/about-me.js"></script>
  </head>

  <body>
    <section id="about-me" class="abt-me-section">
      <h2 class="visually-hidden">hidden</h2>
      <div class="about-me-section-hero">
        <div class="about-me-text">
          <p id="paragraph" class="abt-me-paragraph">
            I work with people all over the world to create impressive and
            <span class="functional-span">functional</span>
            <span class="websites-span">websites</span> that reflect each
            client's unique personality.
          </p>
        </div>
        <div class="abt-me-img">
          <img
            id="person-img"
            class="person-img"
            src="/src/img/image.jpg"
            srcset="
              /src/img/image.jpg   1x,
              /src/img/image.jpg   2x,
              /src/img/image-2.jpg 1x,
              /src/img/image-2.jpg 2x
            "
            alt="Person"
            width="343"
          />
        </div>
      </div>

      <!--SLIDERS -->
      <!-- <div class="about-me-section">
        <div class="slider">
          <div class="header-and-btn" id="header-slider">
            <h3 class="div-header">About me</h3>
            <button class="arrow-btn" type="button">
              <svg class="icon-arrow-up" width="40" height="40">
                <use href="../img/svg_sprite-opt.svg#icon-arrow-up"></use>
              </svg>
            </button>
          </div>
          <div class="div-content">
            <ul class="about-paragraph-list">
              <li class="about-item">
                <p class="about-item-paragraph">
                  I am Lloyd Jefferson, a talented programmer with extensive
                  expertise in software development. I have an understanding of
                  different programming languages ​​and technologies, always
                  ready to improve my skills. I always follow the latest trends
                  and look for unconventional, creative solutions to problems. I
                  have a high level of analytical skills and am able to
                  effectively solve even the most difficult tasks encountered on
                  the way.
                </p>
              </li>
              <li class="about-item">
                <p class="about-item-paragraph">
                  Able to work both independently and in a team. I can
                  effectively cooperate with colleagues, exchanging ideas and
                  finding optimal solutions. Professional maturity allows you to
                  calmly cope with challenges and stressful situations, while
                  maintaining a high quality of work. <br class="text-br" />
                  I am always looking for opportunities for self-improvement. I
                  actively study new technologies and practices to stay abreast
                  of the latest innovations. I have a strong understanding of
                  various programming languages, frameworks and architectural
                  concepts that allow me to create efficient and scalable
                  software.
                </p>
              </li>
            </ul>
          </div>
        </div> -->
      <div class="div-content ac-content">
        <ul class="about-paragraph-list accordion-container">
          <li class="about-item ac">
            <div class="div-header ac-trigger">
              <p class="abt-header">About me</p>
              <div class="arrow-btn">
                <svg class="icon-arrow-up" width="40" height="40">
                  <use href="../img/svg_sprite-opt.svg#icon-arrow-down"></use>
                </svg>
              </div>
            </div>

            <p class="about-item-paragraph ac-panel">
              I am Lloyd Jefferson, a talented programmer with extensive
              expertise in software development. I have an understanding of
              different programming languages and technologies, always ready to
              improve my skills. I always follow the latest trends and look for
              unconventional, creative solutions to problems. I have a high
              level of analytical skills and am able to effectively solve even
              the most difficult tasks encountered on the way.

              <br /><br />

              Able to work both independently and in a team. I can effectively
              cooperate with colleagues, exchanging ideas and finding optimal
              solutions. Professional maturity allows you to calmly cope with
              challenges and stressful situations, while maintaining a high
              quality of work. <br class="text-br" />
              I am always looking for opportunities for self-improvement. I
              actively study new technologies and practices to stay abreast of
              the latest innovations. I have a strong understanding of various
              programming languages, frameworks, and architectural concepts that
              allow me to create efficient and scalable software.
            </p>
          </li>
        </ul>
      </div>
      <!-- <div class="slider">
          <svg class="icon-stroke" width="343" height="40">
            <use href="../img/svg_sprite-opt.svg#icon-vector"></use>
          </svg>
          <h3 class="div-header">Role</h3>
          <button class="arrow-btn" type="button">
            <svg class="icon-arrow-down" width="18" height="18">
              <use href="../img/svg_sprite-opt.svg#icon-arrow-down"></use>
            </svg>
          </button>
          <div class="div-content hidden">
            <ul class="role-list hidden">
              <li class="role-item">Frontend development</li>
              <li class="role-item">HeadlessCMS,Wordpress</li>
              <li class="role-item">Blender(enjoy)</li>
            </ul>
          </div>
        </div>
        <svg class="icon-stroke" width="343" height="40">
          <use href="../img/svg_sprite-opt.svg#icon-vector"></use>
        </svg> -->

      <svg class="icon-stroke" width="343" height="40">
        <use href="../img/svg_sprite-opt.svg#icon-vector"></use>
      </svg>

      <div class="div-content ac-content">
        <ul class="role-list accordion-container">
          <li class="role-item ac">
            <div class="div-header ac-trigger">
              <p class="abt-header">Role</p>
              <div class="arrow-btn">
                <svg class="icon-arrow-down" width="18" height="18">
                  <use href="../img/svg_sprite-opt.svg#icon-arrow-down"></use>
                </svg>
              </div>
            </div>
            <p class="role-item ac-panel">
              Frontend development <br /><br />
              HeadlessCMS,Wordpress <br /><br />
              Blender(enjoy) <br /><br />
            </p>
          </li>
        </ul>
      </div>
      <svg class="icon-stroke" width="343" height="40">
        <use href="../img/svg_sprite-opt.svg#icon-vector"></use>
      </svg>

      <!-- 
        <div class="slider">
          <h3 class="div-header">Education</h3>
          <button class="arrow-btn" type="button">
            <svg class="icon-arrow-down" width="40" height="40">
              <use href="../img/svg_sprite-opt.svg#icon-arrow-down"></use>
            </svg>
          </button>
          <div class="div-content hidden">
            <ul class="education-list hidden">
              <li class="education-item">
                2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
                York
              </li>
              <li class="education-item">
                2019 - 2020 / Advanced Web Development Certificate, GoIT IT
                School, New York
              </li>
              <li class="education-item">
                2020 - 2022 / Advanced Blender Animation Techniques, Udemy
              </li>
            </ul>
          </div>
          <svg class="icon-stroke" width="343" height="40">
            <use href="../img/svg_sprite-opt.svg#icon-vector"></use>
          </svg>
        </div>
      </div> -->

      <div class="div-content ac-content">
        <ul class="education-list accordion-container">
          <li class="education-item ac">
            <div class="div-header ac-trigger">
              <p class="abt-header">Education</p>
              <div class="arrow-btn">
                <svg class="icon-arrow-down" width="18" height="18">
                  <use href="../img/svg_sprite-opt.svg#icon-arrow-down"></use>
                </svg>
              </div>
            </div>
            <p class="education-item ac-panel">
              2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
              York <br /><br />
              2019 - 2020 / Advanced Web Development Certificate, GoIT IT
              School, New York <br /><br />
              2020 - 2022 / Advanced Blender Animation Techniques, Udemy
              <br /><br />
            </p>
          </li>
        </ul>
      </div>
      <svg class="icon-stroke" width="343" height="40">
        <use href="../img/svg_sprite-opt.svg#icon-vector"></use>
      </svg>

      <!--APP BUTTONS-->
      <div class="content swiper-container">
        <ul class="blocks-list" id="blocks-list">
          <li class="blocks-item swiper-slide">
            <button class="btn" type="button">HTML/CSS</button>
          </li>
          <li class="blocks-item swiper-slide">
            <button class="btn" type="button">JavaScript</button>
          </li>
          <li class="blocks-item swiper-slide hidden">
            <button class="btn" type="button">React</button>
          </li>
          <li class="blocks-item swiper-slide hidden">
            <button class="btn" type="button">Node.js</button>
          </li>
          <li class="blocks-item swiper-slide hidden">
            <button class="btn" type="button">React Native</button>
          </li>
          <li class="blocks-item swiper-slide hidden">
            <button class="btn" type="button">Soft skills</button>
          </li>
        </ul>

        <button class="arrow-right-btn" type="button">
          <svg class="icon-arrows-right" width="28" height="28">
            <use href="../img/svg_sprite-opt.svg#icon-arrows-right"></use>
          </svg>
        </button>
      </div>
    </section>

    <!-- <script
      type="module"
      src="/node_modules/accordion-js/dist/accordion.min.js"
    ></script> -->
    <link
      rel="stylesheet"
      href="/node_modules/accordion-js/dist/accordion.min.css"
    />

    <script type="module" src="/src/js/about-me.js"></script>

    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"
    ></script>
    <!-- 
    <script type="module" src="/src/js/about-me.js"></script> -->
  </body>
</html>
