<section class="covers background" id="covers">
  <div class="container covers">
    <h1 class="hidden-title"></h1>
    <div class="content">
      <div class="marquee">
        <ul class="marquee__inner hidden-before-desktop">
          <li class="marquee__line">Project 1</li>
          <li class="marquee__line">Project 2</li>
        </ul>
        <ul class="marquee__inner">
          <li class="marquee__line">Project 1</li>
          <li class="marquee__line">Project 2</li>
          <li class="marquee__line">Project 3</li>
        </ul>
        <ul class="marquee__inner">
          <li class="marquee__line">Project 1</li>
          <li class="marquee__line">Project 2</li>
          <li class="marquee__line">Project 3</li>
        </ul>
        <ul class="marquee__inner">
          <li class="marquee__line">Project 1</li>
          <li class="marquee__line">Project 2</li>
          <li class="marquee__line">Project 3</li>
        </ul>
        <ul class="marquee__inner hidden-before-desktop">
          <li class="marquee__line">Project 1</li>
          <li class="marquee__line">Project 2</li>
        </ul>
      </div>
    </div>
  </div>
</section>
