<section class="covers background" id="covers">
  <div class="container covers">
    <h1 class="hidden-title"></h1>
    <div class="content">
      <div class="marquee">
        <ul class="marquee__inner hidden-before-desktop">
          <li class="marquee__line">Project 1</li>
          <li class="marquee__line">Project 2</li>
        </ul>
        <ul class="marquee__inner">
          <li class="marquee__line">
            <img
              class="covers-img"
              srcset="
                ./img/covers/Rectangle10.jpg    1x,
                ./img/covers/Rectangle10@2x.jpg 2x
              "
              src="./img/covers/Rectangle10.jpg"
              width="282"
              height="163"
              alt="Project №1"
              loading="lazy"
            />
          </li>
          <li class="marquee__line">
            <img
              class="covers-img"
              srcset="
                ./img/covers/Rectangle7.jpg    1x,
                ./img/covers/Rectangle7@2x.jpg 2x
              "
              src="./img/covers/Rectangle7.jpg"
              width="282"
              height="163"
              alt="Project №2"
              loading="lazy"
            />
          </li>
          <li class="marquee__line">
            <img
              class="covers-img"
              srcset="
                ./img/covers/Rectangle6.jpg    1x,
                ./img/covers/Rectangle6@2x.jpg 2x
              "
              src="./img/covers/Rectangle6.jpg"
              width="282"
              height="163"
              alt="Project №3"
              loading="lazy"
            />
          </li>
          <li class="marquee__line hidden-before-desktop">
            <img
              class="covers-img"
              srcset="
                ./img/covers/Rectangle10.jpg    1x,
                ./img/covers/Rectangle10@2x.jpg 2x
              "
              src="./img/covers/Rectangle10.jpg"
              width="282"
              height="163"
              alt="Project №1 repeat"
              loading="lazy"
            />
          </li>
        </ul>
        <ul class="marquee__inner">
          <li class="marquee__line">
            <img
              class="covers-img"
              srcset="
                ./img/covers/Rectangle11.jpg    1x,
                ./img/covers/Rectangle11@2x.jpg 2x
              "
              src="./img/covers/Rectangle11.jpg"
              width="282"
              height="163"
              alt="Project №4"
              loading="lazy"
            />
          </li>
          <li class="marquee__line">
            <img
              class="covers-img"
              srcset="
                ./img/covers/first-screen-1.jpg    1x,
                ./img/covers/first-screen-1@2x.jpg 2x
              "
              src="./img/covers/first-screen-1.jpg"
              width="282"
              height="163"
              alt="Project №5"
              loading="lazy"
            />
          </li>
          <li class="marquee__line">
            <img
              class="covers-img"
              srcset="
                ./img/covers/Rectangle8.jpg    1x,
                ./img/covers/Rectangle8@2x.jpg 2x
              "
              src="./img/covers/Rectangle8.jpg"
              width="282"
              height="163"
              alt="Project №6"
              loading="lazy"
            />
          </li>
        </ul>
        <ul class="marquee__inner">
          <li class="marquee__line">
            <img
              class="covers-img"
              srcset="
                ./img/covers/Rectangle9.jpg    1x,
                ./img/covers/Rectangle9@2x.jpg 2x
              "
              src="./img/covers/Rectangle9.jpg"
              width="282"
              height="163"
              alt="Project №7"
              loading="lazy"
            />
          </li>
          <li class="marquee__line">
            <img
              class="covers-img"
              srcset="
                ./img/covers/Rectangle4.jpg    1x,
                ./img/covers/Rectangle4@2x.jpg 2x
              "
              src="./img/covers/Rectangle4.jpg"
              width="282"
              height="163"
              alt="Project №8"
              loading="lazy"
            />
          </li>
          <li class="marquee__line">
            <img
              class="covers-img"
              srcset="
                ./img/covers/Rectangle5.jpg    1x,
                ./img/covers/Rectangle5@2x.jpg 2x
              "
              src="./img/covers/Rectangle5.jpg"
              width="282"
              height="163"
              alt="Project №9"
              loading="lazy"
            />
          </li>
        </ul>
        <ul class="marquee__inner hidden-before-desktop">
          <li class="marquee__line">Project 1</li>
          <li class="marquee__line">Project 2</li>
        </ul>
      </div>
    </div>
  </div>
</section>
