<section class="faq-conteiner" id="faq">
  <h1 class="top-title">FAQ</h1>
  <ul class="list accordion-container">
    <li class="list-item ac bord-right">
      <div class="list-item-title ac-trigger">
        What programming languages are most often used in your project?

        <div class="box-conteiner">
          <svg class="box-icon" width="20" height="20">
            <use href="./img/symbol-defs.svg#icon-down-2"></use>
          </svg>
        </div>
      </div>

      <p class="list-item-text ac-panel">
        In the field of web development, there are various technologies and
        programming languages. Typically, this includes a combination of
        frontend (client side) and backend (server side) languages.
      </p>
    </li>

    <li class="list-item ac bord-right marg-left">
      <div class="list-item-title ac-trigger">
        What are the deadlines for the project?
        <div class="box-conteiner">
          <svg class="box-icon" width="20" height="20">
            <use href="./img/symbol-defs.svg#icon-down-2"></use>
          </svg>
        </div>
      </div>

      <p class="list-item-text ac-panel">
        The terms of project implementation depend to a large extent on a number
        of factors, such as the scope of the project, its complexity, and the
        availability of resources. Determining exact deadlines is a difficult
        task, and it usually occurs during the planning phase of the project.
      </p>
    </li>

    <li class="list-item ac bord-right bord-bottom marg-left">
      <div class="list-item-title ac-trigger">
        What payment methods do you accept?
        <div class="box-conteiner">
          <svg class="box-icon" width="20" height="20">
            <use href="./img/symbol-defs.svg#icon-down-2"></use>
          </svg>
        </div>
      </div>

      <p class="list-item-text ac-panel">
        Payment through credit and debit cards such as Visa, MasterCard,
        specialized electronic payment systems such as PayPal, as well as
        payments in cryptocurrencies such as Bitcoin, Ethereum and others.
      </p>
    </li>

    <li class="list-item ac bord-left">
      <div class="list-item-title ac-trigger">
        How can I contact you?
        <div class="box-conteiner">
          <svg class="box-icon" width="20" height="20">
            <use href="./img/symbol-defs.svg#icon-down-2"></use>
          </svg>
        </div>
      </div>

      <p class="list-item-text ac-panel">
        In the field of web development, there are various technologies and
        programming languages. Typically, this includes a combination of
        frontend (client side) and backend (server side) languages.
      </p>
    </li>
    <li class="list-item ac bord-left margen-left">
      <div class="list-item-title ac-trigger">
        Do you provide advice or support?
        <div class="box-conteiner">
          <svg class="box-icon" width="20" height="20">
            <use href="./img/symbol-defs.svg#icon-down-2"></use>
          </svg>
        </div>
      </div>

      <p class="list-item-text ac-panel">
        The terms of project implementation depend to a large extent on a number
        of factors, such as the scope of the project, its complexity, and the
        availability of resources. Determining exact deadlines is a difficult
        task, and it usually occurs during the planning phase of the project.
      </p>
    </li>
    <li class="list-item ac bord-left">
      <div class="list-item-title ac-trigger">
        What does the process of developing a software product look like from
        idea to implementation?
        <div class="box-conteiner">
          <svg class="box-icon" width="20" height="20">
            <use href="./img/symbol-defs.svg#icon-down-2"></use>
          </svg>
        </div>
      </div>

      <p class="list-item-text ac-panel">
        Payment through credit and debit cards such as Visa, MasterCard,
        specialized electronic payment systems such as PayPal, as well as
        payments in cryptocurrencies such as Bitcoin, Ethereum and others.
      </p>
    </li>
  </ul>
</section>
