<section class="modal-window">
	<div class="modal-backdrop is-hidden">
		<div class="modal">
			<button type="button" class="modal-close">
			  <svg class="icon" width="22" height="22">
				<use href="../img/svg_sprite-opt.svg#icon-close"></use>
			  </svg>
			</button>
			<h3 class="modal-header">Thank you for your interest in cooperation!</h3>
			<p class="modal-text">The manager will contact you shortly to discuss further details and opportunities for cooperation. Please stay in touch.</p>
			</div>
	</section>
	</div>
	