<section class="projects" id="projects">
  <div class="container">
    <h2 class="title">Projects</h2>

    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide first-slide" id="slide1">
          <div class="card-wrapper">
            <div class="programming-wrapper">
              <ul class="technologies-list">
                <li class="technologies-item react">
                  <p class="technologies-text">#react</p>
                </li>

                <li class="technologies-item js">
                  <p class="technologies-text">#js</p>
                </li>

                <li class="technologies-item node">
                  <p class="technologies-text">#node js</p>
                </li>

                <li class="technologies-item git">
                  <p class="technologies-text">#git</p>
                </li>
              </ul>

              <h3 class="small-title">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>

              <a
                class="link"
                href="https://github.com/inmate1/project-js-teamwork05"
                target="_blank"
              >
                See project
              </a>
            </div>

            <div class="img-wrapper">
              <picture class="picture">
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./img/section-projects/girl.webp    1x,
                    ./img/section-projects/girl@2x.webp 2x
                  "
                  width="614"
                  height="385"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/section-projects/girl.webp    1x,
                    ./img/section-projects/girl@2x.webp 2x
                  "
                  width="614"
                  height="385"
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/section-projects/girl.webp    1x,
                    ./img/section-projects/girl@2x.webp 2x
                  "
                  width="311"
                  height="195"
                />
                <img
                  class="img"
                  src="./img/section-projects/girl.jpg"
                  alt="Ukrainian traditional clothes"
                  width="311"
                  height="195"
                />
              </picture>
            </div>
          </div>
        </div>

        <div class="swiper-slide second-slide" id="slide2">
          <div class="card-wrapper">
            <div class="programming-wrapper">
              <ul class="technologies-list">
                <li class="technologies-item react">
                  <p class="technologies-text">#react</p>
                </li>

                <li class="technologies-item js">
                  <p class="technologies-text">#js</p>
                </li>

                <li class="technologies-item node">
                  <p class="technologies-text">#node js</p>
                </li>

                <li class="technologies-item git">
                  <p class="technologies-text">#git</p>
                </li>
              </ul>

              <h3 class="small-title">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>

              <a
                class="link"
                href="https://github.com/inmate1/project-js-teamwork05"
                target="_blank"
              >
                See project
              </a>
            </div>

            <div class="img-wrapper">
              <picture class="picture">
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./img/section-projects/wallet.webp    1x,
                    ./img/section-projects/wallet@2x.webp 2x
                  "
                  width="614"
                  height="385"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/section-projects/wallet.webp    1x,
                    ./img/section-projects/wallet@2x.webp 2x
                  "
                  width="614"
                  height="385"
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/section-projects/wallet.webp    1x,
                    ./img/section-projects/wallet@2x.webp 2x
                  "
                  width="311"
                  height="195"
                />
                <img
                  class="img"
                  src="./img/section-projects/wallet.jpg"
                  alt="Electronic wallet"
                  width="311"
                  height="195"
                />
              </picture>
            </div>
          </div>
        </div>

        <div class="swiper-slide third-slide" id="slide3">
          <div class="card-wrapper">
            <div class="programming-wrapper">
              <ul class="technologies-list">
                <li class="technologies-item react">
                  <p class="technologies-text">#react</p>
                </li>

                <li class="technologies-item js">
                  <p class="technologies-text">#js</p>
                </li>

                <li class="technologies-item node">
                  <p class="technologies-text">#node js</p>
                </li>

                <li class="technologies-item git">
                  <p class="technologies-text">#git</p>
                </li>
              </ul>

              <h3 class="small-title">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>

              <a
                class="link"
                href="https://github.com/inmate1/project-js-teamwork05"
                target="_blank"
              >
                See project
              </a>
            </div>

            <div class="img-wrapper">
              <picture class="picture">
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./img/section-projects/sport.webp    1x,
                    ./img/section-projects/sport@2x.webp 2x
                  "
                  width="614"
                  height="385"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/section-projects/sport.webp    1x,
                    ./img/section-projects/sport@2x.webp 2x
                  "
                  width="614"
                  height="385"
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/section-projects/sport.webp    1x,
                    ./img/section-projects/sport@2x.webp 2x
                  "
                  width="311"
                  height="195"
                />
                <img
                  src="./img/section-projects/sport.jpg"
                  alt="A girl in the gym"
                  class="img"
                  width="311"
                  height="195"
                />
              </picture>
            </div>
          </div>
        </div>
      </div>
      <div class="buttons">
        <button class="button swiper-button-prev" type="button">
          <svg class="arrow">
            <use href="./img/svg_sprite-opt.svg#icon-arrows-left"></use>
          </svg>
        </button>

        <button class="button swiper-button-next" type="button">
          <svg class="arrow">
            <use href="./img/svg_sprite-opt.svg#icon-arrows-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
