<section class="footer" id="work-together">
  <div class="container footer-section">
    <div class="footer-header-container">
      <div class="work-together-frame">
        <picture>
          <source srcset="../img/work-together/footer-img.jpg" media="(max-width: 767px)" />
          <source srcset="../img/work-together/footer-img@2x.jpg" media="(min-width: 768px)" />
          <img
            class="footer-header-photo"
            src="../img/work-together/footer-img.jpg"
            alt="avatar-photo"
          />
        </picture>
        <div class="footer-header-frame">
          <h2 class="footer-header">
            Let’s<span class="footer-header-accent"> work</span>
          </h2>
        </div>
      </div>
      <div class="footer-header-frame">
        <h2 class="footer-header">together</h2>
      </div>
    </div>
    <div class="footer-submit-form">
      <form class="user-form">
        <div class="footer-form-frame">
          <input
            class="footer-submit-input"
            type="email"
            name="email"
            id="email"
            placeholder="clients@gmail.com"
            pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
            required
            maxlength="20"
          />
          <svg class="icon-vector" width="245" height="2">
            <use href="./img/svg_sprite-opt.svg#icon-vector"></use>
          </svg>
          <p class="validation-text">Success!</p>
        </div>
        <div class="footer-form-frame">
          <textarea
          class="footer-submit-textarea"
          name="comments"
          id="comments"
          placeholder="comments"
          required
          maxlength="200"
        ></textarea>
        <svg class="icon-vector" width="245" height="2">
          <use href="./img/svg_sprite-opt.svg#icon-vector"></use>
        </svg>
        </div>
        <button class="footer-submit-btn" type="submit">Send</button>
      </form>
    </div>
    <address class="footer-contacts-container">
      <a class="footer-contacts" class="" href="mailto:lloydjefferson@gmail.com"
        >lloydjefferson@gmail.com</a>
      <a class="footer-contacts" href="tel:+3801111111111">+380 11 1111 11 11</a>
    </address>
  </section>
  </div>
  
