.accordion-container .ac .ac-trigger::after {
  content: none;
}

.faq-conteiner {
  /* background-color: transparent; */
  max-width: 375px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 64px;
}
@media screen and (min-width: 768px) {
  body .faq-conteiner {
    padding-bottom: 96px;
  }
}
@media screen and (min-width: 1440px) {
  body .faq-conteiner {
    padding-bottom: 164px;
  }
}
.list-item.ac.js-enabled .box-conteiner .box-icon {
  transform: none;
}

.list-item.ac.js-enabled.is-active .box-conteiner .box-icon {
  transform: rotate(180deg);
}
.accordion-container .ac {
  border: none;
}
@media screen and (min-width: 768px) {
  body .faq-conteiner {
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media screen and (min-width: 1440px) {
  body .faq-conteiner {
    max-width: 1440px;
  }
}
.top-title {
  font-family: Inter Tight, SemiBold;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}
.list {
  max-width: 343px;
}
@media screen and (min-width: 768px) {
  .list {
    max-width: 704px;
  }
}
@media screen and (min-width: 1440px) {
  .list {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;

    grid-auto-flow: column;
  }
}
@media screen and (min-width: 1440px) {
  .list .bord-right {
    border-right: 1px solid rgba(250, 250, 250, 0.2);
    padding-right: 32px;
  }
}
.list .marg-left .list-item-title .box-conteiner {
  margin-left: 70px;
}
.list .margen-left .list-item-title .box-conteiner {
  margin-left: 100px;
}

@media screen and (min-width: 1440px) {
  .list .bord-bottom {
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  }
}
@media screen and (min-width: 1440px) {
  .list .bord-left {
    padding-left: 32px;
  }
}

.list .list-item {
  background-color: transparent;
  margin: 0;
  border-top: 1px solid rgba(250, 250, 250, 0.2);
  padding-top: 20px;
  padding-bottom: 20px;
}
.list .list-item:last-child {
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}
@media screen and (min-width: 1440px) {
  .list .list-item {
    width: 688px;
  }
}
.list .list-item .list-item-title {
  display: flex;
  justify-content: space-between;
  font-family: Inter Tight, SemiBold;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgb(250, 250, 250);
  padding: 0;
}

.list-item .list-item-title .box-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 50%;
  padding: 7px;
  width: 34px;
  height: 34px;
  flex-shrink: 0;
  margin-left: 25px;
}
@media screen and (min-width: 768px) {
  .list-item:last-child .list-item-title .box-conteiner {
    margin-left: 200px;
  }
}
.list-item .list-item-text {
  font-family: Inter Tight, Medium;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .list-item .list-item-text {
    width: 656px;
    margin-top: 26px;
  }
}
