:root {
  --main-color: #fafafa;
  --bg-color: #1c1d20;
  --btn-color: #ed3b44;
  --btn-hover-color: #e0373f;
  --gray-color: #3b3b3b;
  --support-text: #242527;
  --cards-color: #1c1d20;
  --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-section {
  position: relative;

  width: 100%;

  /* max-width: 374.98px;
  min-width: 320px; */
  margin: 0 auto;
  /* margin-bottom: 32px; */
}

.hero-section > .hero-general-container {
  background-image: url(/img/hero/glass-effect-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: -webkit-image-set('/img/hero/glass-effect-mobile.webp');
  background-image: image-set('/img/hero/glass-effect-mobile.webp');
}

@media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (-webkit-min-device-pixel-ratio: 2) {
  .hero-section > .hero-general-container {
    background-image: url(/img/hero/glass-effect-mobile@2x.png);
  }
}

@media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (-webkit-min-device-pixel-ratio: 2) {
  .hero-section > .hero-general-container {
    background-image: -webkit-image-set(
      '/img/hero/glass-effect-mobile@2x.webp'
    );
    background-image: image-set('/img/hero/glass-effect-mobile@2x.webp');
  }
}

.hero-title {
  font-weight: 500;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  max-width: 100%;
  background-image: linear-gradient(
    to right,
    var(--cards-color),
    var(--btn-color),
    var(--btn-hover-color),
    var(--main-color),
    var(--support-text)
  );
  background-size: 60%;
  background-clip: text;
  color: transparent;
  animation: animated-gradient 1.5s infinite alternate-reverse;
  transition: color var(--cubic);
}

@keyframes animated-gradient {
  to {
    color: var(--main-color);
  }
}

.hero-general-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 812px;
}

.hero-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.hero-list-container {
  width: 100%;
  display: flex;
}

.hero-list {
  display: flex;
  flex-direction: row;
  gap: 4px;
  padding-bottom: 32px;
  max-width: 342px;
}

.hero-list-item {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  transition: background-color var(--cubic), border-color var(--cubic),
    transform var(--cubic), box-shadow var(--cubic);
}

.hero-list-link {
  padding: 8px;
}

.hero-list-item:hover,
.hero-list-item:focus {
  background-color: var(--btn-hover-color);
  border-color: var(--main-color);
  transform: translateY(-10px) scale(1.1);
  box-shadow: 0 0 10px 5px rgba(237, 59, 68, 0.35);
}

.hero-link-email {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 178px;
  height: 37px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  transition: background-color var(--cubic), border-color var(--cubic),
    transform var(--cubic), box-shadow var(--cubic);
}

.hero-link-email:hover,
.hero-link-email:focus {
  background-color: var(--btn-hover-color);
  border-color: var(--main-color);
  transform: translateY(-10px);
  box-shadow: 0 0 10px 5px rgba(237, 59, 68, 0.35);
}

@media screen and (max-width: 374px) {
  .hero-list {
    max-width: 320px;
    padding-bottom: 24px;
  }

  .hero-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-email {
    margin: 0;
    padding-bottom: 24px;
  }
}

.hero-email {
  display: flex;
  margin-left: 4px;
}

@media screen and (min-width: 768px) {
  /* .hero-section {
    max-width: 768px;
  } */
  .hero-section > .hero-general-container {
    background-image: url(/img/hero/glass-effect-tablet.png);
    background-image: -webkit-image-set('/img/hero/glass-effect-tablet.webp');
    background-image: image-set('/img/hero/glass-effect-tablet.webp');
  }

  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (-webkit-min-device-pixel-ratio: 2) {
    .hero-section > .hero-general-container {
      background-image: url(/img/hero/glass-effect-tablet@2x.png);
    }
  }

  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (-webkit-min-device-pixel-ratio: 2) {
    .hero-section > .hero-general-container {
      background-image: -webkit-image-set(
        '/img/hero/glass-effect-tablet@2x.webp'
      );
      background-image: image-set('/img/hero/glass-effect-tablet@2x.webp');
    }
  }

  .hero-list-link {
    padding: 15px;
  }

  .hero-general-container {
    height: 1024px;
  }

  .hero-title {
    font-size: 90px;
  }

  .hero-list-container {
    justify-content: flex-end;
  }

  .hero-list-item {
    width: 55px;
    height: 55px;
  }

  .hero-link-email {
    padding: 18px 24px;
    width: 223px;
    height: 55px;
  }

  .hero-list-item {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  /* .hero-section {
    max-width: 1440px;
  } */

  .hero-section > .hero-general-container {
    background-image: url(/img/hero/bg-desktop.png);
    background-image: -webkit-image-set('/img/hero/bg-desktop.webp');
    background-image: image-set('/img/hero/bg-desktop.webp');
  }

  .hero-general-container {
    height: 900px;
  }

  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (-webkit-min-device-pixel-ratio: 2) {
    .hero-section > .hero-general-container {
      background-image: url(/img/hero/bg-desktop@2x.png);
    }
  }

  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (-webkit-min-device-pixel-ratio: 2) {
    .hero-section > .hero-general-container {
      background-image: -webkit-image-set('/img/hero/bg-desktop@2x.webp');
      background-image: image-set('/img/hero/bg-desktop@2x.webp');
    }
  }

  .hero-title {
    max-width: 1084px;
  }
}
