.footer-header-container {
	margin-bottom: 63px;
  }
  .footer-header-photo {
	width: 100%;
	height: auto;
	margin: 0;
	display: block;
	padding: 0;
	max-width: 44px;
	border-radius: 12px;
  }
  
  .work-together-frame {
	display: flex;
	gap: 10px;
	margin-bottom: 10px;
  }
  
  .footer-header-frame {
	width: 100%;
	max-width: auto;
	margin-top: 0;
	text-align: left;
	margin-bottom: 0;
  }
  
  .footer-header {
	color: #fafafa;
	font-size: 40px;
	font-style: normal;
	font-family: 'Inter Tight', sans-serif;
	font-weight: 500;
	line-height: 40px;
	letter-spacing: 0;
	text-transform: uppercase;
  }
  
  .footer-header-accent {
	color: #ed3b44;
  }
  
  .footer-submit-form {
	margin-bottom: 32px;
  }
  
  .footer-form-frame {
	display: flex;
	margin-bottom: 20px;
	border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  }
  
  .validation-text {
	visibility: hidden;
  }
  
  .footer-submit-input {
	border: none;
	outline: transparent;
	background-color: transparent;
  
	color: rgba(250, 250, 250, 0.6);
	width: 100%;
	height: 24px;
	padding: 0;
	margin-bottom: 20px;
  
	font-family: inherit;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: -0.02;
  }
  
  .footer-submit-textarea {
	border: none;
	resize: none;
	background-color: transparent;
	outline: transparent;
  
	color: rgba(250, 250, 250, 0.6);
	width: 100%;
	height: 24px;
	padding: 0;
	margin-bottom: 20px;
  
	font-family: inherit;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: -0.02;
  }
  
  .footer-submit-btn {
	padding: 0;
	width: 100px;
	height: 100px;
	flex-shrink: 0;
	background-color: rgba(237, 59, 68, 1);
	border-radius: 50%;
  
	outline: none;
	border: none;
	color: #fafafa;
	text-align: center;
	cursor: pointer;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
	  transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .footer-submit-btn:hover {
	background-color: rgba(224, 55, 63, 1);
	transform: scale(1.1);
  }
  
  .footer-contacts-container {
	display: flex;
	gap: 4px;
	margin-top: 64px;
  }
  .footer-contacts {
	display: flex;
	padding: 10px 12px;
	justify-content: center;
	align-items: center;
  
	border: 1px solid rgba(250, 250, 250, 0.2);
	border-radius: 60px;
  
	font-size: 14px;
	color: #fafafa;
	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
	  transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .footer-contacts:hover {
	border: 1px solid #fafafa;
	transform: scale(1.1);
  }
  
  .glass-effect {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 56px;
  
	position: relative;
	width: 736px;
	height: 690px;
	left: 285px;
	top: -550px;
	z-index: -1;
  }
  
  .rectangle {
	width: 70.727px;
	height: 552px;
  
	background: linear-gradient(
	  90deg,
	  rgba(255, 255, 255, 0) 0%,
	  rgba(59, 59, 59, 0.1) 16.67%,
	  rgba(255, 255, 255, 0) 100%
	);
	background-blend-mode: overlay;
	backdrop-filter: blur(50px);
  }