.footer {
  max-width: 374.98px;
  min-width: 320px;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  background-image: url(./img/work-together/glass-effect-mob.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top 0 right -15px;
}

.footer-header-container {
  margin-bottom: 63px;
}
.footer-header-photo {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  padding: 0;
  max-width: 44px;
  border-radius: 12px;
}

.work-together-frame {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.footer-header-frame {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}

.footer-header {
  color: #fafafa;
  font-size: 40px;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
}

.footer-header-accent {
  color: #ed3b44;
}

.footer-submit-form {
  margin-bottom: 64px;
}

.footer-form-frame {
  position: relative;
}

.validation-text {
  visibility: hidden;
}

.footer-submit-input {
  border: none;
  outline: transparent;
  background-color: transparent;
  color: rgba(250, 250, 250, 0.6);
  width: 100%;
  height: 24px;
  padding: 0;
  margin-bottom: 20px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02;
}

.footer-submit-textarea {
  border: none;
  resize: none;
  background-color: transparent;
  outline: transparent;
  color: rgba(250, 250, 250, 0.6);
  width: 100%;
  height: 24px;
  padding: 0;
  margin-bottom: 20px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02;
}

.footer-submit-btn {
  padding: 0;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  background-color: rgba(237, 59, 68, 1);
  border-radius: 50%;
  margin-top: 32px;
  outline: none;
  border: none;
  color: #fafafa;
  text-align: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-submit-btn:hover {
  background-color: rgba(224, 55, 63, 1);
  transform: scale(1.1);
}

.icon-vector {
  position: absolute;
  top: 40px;
  left: 0px;
}

.footer-contacts-container {
  display: flex;
  gap: 4px;
}
.footer-contacts {
  display: flex;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  font-size: 14px;
  color: #fafafa;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts:hover {
  border: 1px solid #fafafa;
  transform: scale(1.1);
}

.modal-styles {
  position: relative;
  display: inline-flex;
  margin: 0 16px;
  padding: 64px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 20px;
  border: 1px solid rgba(250, 250, 250, 0.1);
  background: #1c1d20;
}

.modal-header {
  color: #fafafa;
  margin: 0 auto;
  text-align: center;
  font-family: 'Inter Tight';
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
}

.modal-text {
  color: rgba(250, 250, 250, 0.6);
  text-align: center;
  font-family: 'Inter Tight';
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.modal-close {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.modal-close .icon {
  width: 22px;
  height: 22px;
  stroke: #fafafa;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: transparent;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill::first-line,
textarea:-webkit-autofill::first-line,
select:-webkit-autofill::first-line {
  color: rgba(250, 250, 250, 0.6);
}

/* Tablet */

@media screen and (min-width: 768px) {
  .footer {
    background-image: url(./img/work-together/glass-effect-tab.png);
    max-width: 768px;
    padding-top: 80px;
    padding-bottom: 169px;
    background-position: top right -10px;
  }

  .footer-header-photo {
    max-width: 70px;
  }

  .footer-header {
    font-size: 64px;
    font-weight: 500;
    letter-spacing: -0.03;
  }

  .footer-submit-form {
    margin-bottom: 78px;
  }

  .footer-submit-btn {
    margin-top: 0;
  }

  .user-form {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .footer-submit-input {
    width: 245px;
  }

  .footer-submit-textarea {
    width: 245px;
  }

  .modal-styles {
    width: 492px;
  }

  .footer-contacts-container {
    gap: 8px;
  }

  .glass-effect {
    background-repeat: repeat;
    width: 187px;
    left: 535px;
  }
}

/* Desktop */

@media screen and (min-width: 1440px) {
  .footer {
    background-image: url(./img/work-together/glass-effect-desk.png);
    background-position: top right 100px;
    max-width: 1440px;
  }

  .footer-submit-input,
  .footer-submit-textarea,
  .icon-vector {
    width: 390px;
  }

  .icon-vector {
    left: -25px;
  }

  .footer-submit-btn {
    margin-left: 86px;
  }

  .glass-effect {
    background-repeat: repeat;
    width: 390px;
    left: 1050px;
  }
}
